# Things that we explicitly want to include
.config/fish/functions/fish_greeting.fish

# Ignore everything else
*

# Then select what we don't want to ignore
!.gitignore
!.setup.sh
!.vimrc
!.zshrc
!.setscreen.sh
!.bashrc
